@media screen and (max-width: 720px) {
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  header {
    flex-direction: column;
  }

  main {
    flex-direction: column;
    width: 90%;
  }

  h1 {
    width: 100%;
    line-height: 100%;
  }

  h2 {
    width: 100%;
    font-size: 38px;
    line-height: 80%;
    margin-bottom: 10px;
    text-align: start;
    margin-left: 7%;
  }

  form {
    align-items: center;
    margin: 0 auto;
    width: 90%;
  }

  input[type='text'],
  input[type='email'] {
    border-radius: 10px;
    width: 80%;
    padding: 20px;
  }

  input[type='submit'] {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  aside p {
    flex: 1;
    width: 100%;
    padding: 8%;
  }

  .close-perfil-img {
    display: block;
    width: 85%;
    height: auto;
  }

  article {
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  article img {
    display: none;
  }

  ul {
    text-align: center;
  }
}
